<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookoldbooks</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>controller.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>controller.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signout</display-name>
    <servlet-name>Signout</servlet-name>
    <servlet-class>controller.Signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signout</servlet-name>
    <url-pattern>/Signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactus</display-name>
    <servlet-name>contactus</servlet-name>
    <servlet-class>controller.contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postnewad</display-name>
    <servlet-name>postnewad</servlet-name>
    <servlet-class>controller.postnewad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postnewad</servlet-name>
    <url-pattern>/postnewad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getImageServlet</display-name>
    <servlet-name>getImageServlet</servlet-name>
    <servlet-class>controller.getImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getImageServlet</servlet-name>
    <url-pattern>/getImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepass</display-name>
    <servlet-name>changepass</servlet-name>
    <servlet-class>controller.changepass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepass</servlet-name>
    <url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changephn</display-name>
    <servlet-name>changephn</servlet-name>
    <servlet-class>controller.changephn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changephn</servlet-name>
    <url-pattern>/changephn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changecity</display-name>
    <servlet-name>changecity</servlet-name>
    <servlet-class>controller.changecity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changecity</servlet-name>
    <url-pattern>/changecity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changename</display-name>
    <servlet-name>changename</servlet-name>
    <servlet-class>controller.changename</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changename</servlet-name>
    <url-pattern>/changename</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getBookDetailsServlet</display-name>
    <servlet-name>getBookDetailsServlet</servlet-name>
    <servlet-class>controller.getBookDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookDetailsServlet</servlet-name>
    <url-pattern>/getBookDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>onebookdetails</display-name>
    <servlet-name>onebookdetails</servlet-name>
    <servlet-class>controller.onebookdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onebookdetails</servlet-name>
    <url-pattern>/onebookdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdServlet</display-name>
    <servlet-name>EditAdServlet</servlet-name>
    <servlet-class>controller.EditAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdServlet</servlet-name>
    <url-pattern>/EditAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdServlet</display-name>
    <servlet-name>DeleteAdServlet</servlet-name>
    <servlet-class>controller.DeleteAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdServlet</servlet-name>
    <url-pattern>/DeleteAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdProcess</display-name>
    <servlet-name>DeleteAdProcess</servlet-name>
    <servlet-class>controller.DeleteAdProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdProcess</servlet-name>
    <url-pattern>/DeleteAdProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showUploaded</display-name>
    <servlet-name>showUploaded</servlet-name>
    <servlet-class>controller.showUploaded</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showUploaded</servlet-name>
    <url-pattern>/showUploaded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAd</display-name>
    <servlet-name>deleteAd</servlet-name>
    <servlet-class>controller.deleteAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAd</servlet-name>
    <url-pattern>/deleteAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUploadedAds</display-name>
    <servlet-name>ShowUploadedAds</servlet-name>
    <servlet-class>controller.ShowUploadedAds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUploadedAds</servlet-name>
    <url-pattern>/ShowUploadedAds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchimages</display-name>
    <servlet-name>fetchimages</servlet-name>
    <servlet-class>controller.fetchimages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchimages</servlet-name>
    <url-pattern>/fetchimages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>controller.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindisplay</display-name>
    <servlet-name>admindisplay</servlet-name>
    <servlet-class>controller.admindisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindisplay</servlet-name>
    <url-pattern>/admindisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAdAdmin</display-name>
    <servlet-name>deleteAdAdmin</servlet-name>
    <servlet-class>controller.deleteAdAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAdAdmin</servlet-name>
    <url-pattern>/deleteAdAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailsServlet</display-name>
    <servlet-name>BookDetailsServlet</servlet-name>
    <servlet-class>controller.BookDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailsServlet</servlet-name>
    <url-pattern>/BookDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>onebookdetailsAdmin</display-name>
    <servlet-name>onebookdetailsAdmin</servlet-name>
    <servlet-class>controller.onebookdetailsAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onebookdetailsAdmin</servlet-name>
    <url-pattern>/onebookdetailsAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showusers</display-name>
    <servlet-name>showusers</servlet-name>
    <servlet-class>controller.showusers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showusers</servlet-name>
    <url-pattern>/showusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuser</display-name>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>controller.deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>filtercity</display-name>
    <servlet-name>filtercity</servlet-name>
    <servlet-class>controller.filtercity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filtercity</servlet-name>
    <url-pattern>/filtercity</url-pattern>
  </servlet-mapping>
</web-app>